<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

       <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
              <property name="persistenceProviderClass" value="org.hibernate.jpa.HibernatePersistenceProvider"/>
              <property name="packagesToScan">
                     <array>
                            <!-- Note that this defines quite a convention for placing JPA Entity classes -->
                            <!-- Altering it should require a good reason that must be clearly documented -->
                            <!--suppress SpringModelInspection -->
                            <value>cz.zjor.**.model</value>
                     </array>
              </property>
              <!--suppress SpringModelInspection -->
              <property name="dataSource" ref="dataSource"/>
              <property name="jpaVendorAdapter">
                     <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
              </property>
              <property name="jpaProperties">
                     <props>
                            <!--<prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>-->
                            <prop key="hibernate.dialect">#{sqlDialect}</prop>
                            <prop key="hibernate.show_sql">true</prop>
                            <prop key="hibernate.hbm2ddl.auto">update</prop>
                     </props>
              </property>
       </bean>

       <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
              <property name="entityManagerFactory" ref="entityManagerFactory"/>
              <property name="validateExistingTransaction" value="true"/>
              <property name="nestedTransactionAllowed" value="true"/>
       </bean>

       <tx:annotation-driven transaction-manager="transactionManager"/>

       <bean id="entityManager" class="org.springframework.orm.jpa.support.SharedEntityManagerBean">
              <property name="entityManagerFactory" ref="entityManagerFactory"/>
       </bean>

</beans>